# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
virtualenv/
env/
venv/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Operating System files
.DS_Store
thumbs.db